@media all {
  html {
     margin: 0px;
     height: 100%;
     width: 100%;
     /*min-width: 500px;*/
  }

  body {
    color:#333;
    font:20px/1.6 monospace;
    line-height:1.6em;
    margin:0 auto;
    width:75%;
  }

  body> :first-child {
    margin-top:0;
  }

  body> :last-child {
    margin-bottom:0;
  }

  header {
    border-bottom:1px solid #333;
    margin-bottom:10px;
    padding:20px 0;
    width: 100%;
  }

  #menu-title {
    font-size:2.2em;
    margin-bottom: 15px;
  }

  h1 {
    line-height: 1.1;
    font-size:28px;
    font-weight:400;
  }

  a {
    color:#08c;
    text-decoration:none;
  }

  .container {
    padding:20px 0;
  }

  .menu-item[selected='true'] {
    background-color:#333;
    color:#FFF;
  }

  .row-item {
    background:#f9f9f9;
    border-bottom:1px solid #e0e0e0;
    padding:8px 15px;
  }

  .button {
    display: inline-block;
    border:1px solid #333;
    padding:10px;
    margin:10px 0;
    color:#333;
  }

  .button.donate {
    background-color:#7bc043;
    border:1px solid #67a337;
    color:#FFF;
  }

  .menu-item:not([selected]):hover,.button:hover {
    cursor:pointer;
  }
}
