@media all {
  html {
     margin: 0px;
     height: 100%;
     width: 100%;
  }

  body {
    color:#333;
    font:20px/1.6 monospace;
    line-height:1.6em;
    margin:0 auto;
    width:75%;
  }

  body> :first-child {
    margin-top:0;
  }

  body> :last-child {
    margin-bottom:0;
  }

  header {
    border-bottom:1px solid #333;
    margin-bottom:10px;
    padding:20px 0;
    width: 100%;
  }

  #menu-title {
    font-size:2.2em;
    margin-bottom: 15px;
  }

  h1 {
    line-height: 1.1;
    font-size:28px;
    font-weight:400;
  }

  a {
    color:#08c;
    text-decoration:none;
  }

  section {
    display: none;
  }

  section[selected='true'] {
    display: block;
  }

  .container {
    padding:20px 0;
  }

  .button {
    display: inline-block;
    border:1px solid #333;
    padding:10px;
    margin:10px 0;
    /*color:#333;*/
  }

  .menu-item {
    color:#333;
  }
  
  .menu-item[selected='true'] {
    background-color:#333;
    color:#FFF;
  }

  .row-item {
    background:#f9f9f9;
    border-bottom:1px solid #e0e0e0;
    padding:8px 15px;
  }


  .menu-item.donate {
    background-color:#7bc043;
    border:1px solid #67a337;
    color:#FFF;
  }

  .menu-item.share {
    background-color: #0392cf;
    border: 1px solid #005d84;
    color:#FFF;
  }

  .button:hover {
    cursor:pointer;
  }
}

@media all and (max-width: 800px){
  body {
    font:14px/1.6 monospace;
  }
  
  section {
    display: block;
  }

  .menu-item[selected='true'] {
    background:#f9f9f9;
    color:#333;
  }

 .menu-item {
    display: block;
    background:#f9f9f9;
    border-style:solid;
    border-width: 0px 0 1px 0;
    border-color: #e0e0e0;
    padding:8px 15px;
    margin:0;
  }

  .menu-item.donate {
    background-color:#7bc043;
    border-style:solid;
    border-width: 0px 0 1px 0;
    border-color: #67a337;
    color:#FFF;
  }

  .menu-item.share {
    background-color: #0392cf;
    border-style:solid;
    border-width: 0px 0 1px 0;
    border-color: #005d84;
    color:#FFF;
  }
}

